body {
    font-family:  Arial, "Helvetica Neue", sans-serif;
    padding: 58px 5px 50px 5px;
    margin: 0 15px 0 15px;
    font-size: 16px;
}

.navbar-toggle {
    margin-right: 5px;
}

.navbar-brand {
    margin-left: 5px;
}

label {
    font-weight: normal;
}

.req {
    color: red;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    text-align: right;
}

input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*input[type=date] {*/
    /*-moz-appearance:textfield;*/
    /*border: none;*/
/*}*/

input[type='checkbox'].icon-checkbox{display:none}
input[type='checkbox'].icon-checkbox+label .unchecked{display:inline}
input[type='checkbox'].icon-checkbox+label .checked{display:none}
input[type='checkbox']:checked.icon-checkbox{display:none}
input[type='checkbox']:checked.icon-checkbox+label .unchecked{display:none}
input[type='checkbox']:checked.icon-checkbox+label .checked{display:inline;}